<template>
  <div class="container chat mt-md-3">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h2 class="text-warning">ChatRoom</h2>
          <p class="text-black-50">
            Powered by
            <span class="font-weight-bold">ChatAja!</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-light mb-md-5">
          <div class="card-header bg-warning">
            <img :src="oppAva" class="rounded-circle w-40 mr-md-2" />
            <span class="font-weight-bold">{{oppName}}</span>
            <button class="btn btn-dark btn-sm float-right" @click="logout">Logout</button>
          </div>
          <div class="card-body rounded overflow-auto h-500">
            <bubble></bubble>
          </div>
          <input-msg class="mx-md-4"></input-msg>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import inputMsg from "@/components/inputMessage.vue";
import bubble from "@/components/bubble.vue";
import fb from "@/firebase/init";
import moment from "moment";

export default {
  name: "chatRoom",
  components: {
    inputMsg,
    bubble
  },
  // props:['name']

  data() {
    return {
      name: sessionStorage.name,
      oppAva: null,
      opponentArr: [],
      oppName: ""
      // pesan: []
    };
  },
  mounted() {
    if (sessionStorage.length === 0) {
      alert("Oops Anda tidak punya akses")
      this.$router.push({ name: "login" });
    } else {
      let opponent = sessionStorage.opponent;
      this.opponentArr.push(JSON.parse(opponent));
      this.oppName = this.opponentArr[0].name;
      this.oppAva = this.opponentArr[0].avatar;
    }
  },
  methods: {
    logout() {
      sessionStorage.clear();
      alert("Anda berhasil keluar")
      this.$router.push({ name: "login" });
    }
  }
};
</script>
<style>
.time {
  font-size: 0.7em;
}
.bubble {
  display: block;
  float: left;
  clear: both;
}
.bubble.saya {
  float: right;
}
.w-40 {
  width: 40px;
}
.h-500 {
  height: 500px;
}
</style>