<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card mt-md-3">
          <div class="card-body">
            <h3>Login</h3>
            <form @submit.prevent="login">
              <div class="form-group my-md-4">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Please enter your e-mail"
                  v-model="email"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Please enter your Password"
                  v-model="pass"
                />
              </div>
              <div class="form-group">
                <button class="btn btn-primary float-right">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { bus } from "@/main.js";
export default {
  name: "login",
  data() {
    return {
      email: "",
      pass: "",
      users: [
        {
          name: "Jarjit Singh",
          email: "jarjit@mail.com",
          password: "123456",
          avatar: "https://api.adorable.io/avatars/160/jarjit@mail.com.png"
        },
        {
          name: "Ismail bin Mail",
          email: "ismail@mail.com",
          password: "123456",
          avatar: "https://api.adorable.io/avatars/160/ismail@mail.com.png"
        }
      ]
    };
  },
  methods: {
    login() {
      let user1 = this.users[0];
      let user2 = this.users[1];

      if (this.email === user1.email && this.pass === user1.password) {
        sessionStorage.name = user1.name;
        sessionStorage.avatar = user1.avatar;
        sessionStorage.email = user1.email;
        sessionStorage.opponent = JSON.stringify(user2);
        this.$router.push({ name: "chatRoom" });
      } else if (this.email === user2.email && this.pass === user2.password) {
        sessionStorage.name = user2.name;
        sessionStorage.avatar = user2.avatar;
        sessionStorage.email = user2.email;
        sessionStorage.opponent = JSON.stringify(user1);
        this.$router.push({ name: "chatRoom" });
      }
    }
  }
};
</script>