<template>
  <div>
    <p class="text-secondary text-center bg-white w-25 mx-auto rounded p-md-2" v-if="pesan.length == 0">Tidak ada pesan</p>
    <div v-for="(message,index) in pesan" :key="message.id">
      <div class="w-25 rounded px-md-3 py-md-2 mb-md-3" :class="[pesan[index].name === name ? 'bg-light-green bubble saya':'bubble bg-white']">
        <p>{{message.message}}</p>
        <span class="text-secondary time float-right">
          <i class="far fa-clock"></i>
          {{message.timestamp}}
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import fb from "@/firebase/init";
import moment from "moment";
export default {
  data() {
    return {
      pesan: [],
      name: sessionStorage.name,
      userInput: false
    };
  },
  created() {
    let ref = fb.collection("messages").orderBy("timestamp");
    ref.onSnapshot(snapshot => {
      snapshot.docChanges().forEach(change => {
        if ((change.type = "added")) {
          let doc = change.doc;
          this.pesan.push({
            id: doc.id,
            name: doc.data().name,
            message: doc.data().message,
            pic: doc.data().pic,
            timestamp: moment(doc.data().timestamp).format("LTS")
          });
        }
      });
    });
  },
};
</script>
<style>
.bubble {
  display: block;
  float: left;
  clear: both;
}
.bubble.saya {
  float: right;
}
.bg-light-green{
    background:#C5E1A5;
}
</style>