<template>
  <div class="container">
    <form @submit.prevent="createMsg">
      <div class="form-group">
        <div class="row">
          <input
            type="text"
            class="form-control col-11"
            v-model="inpMsg"
            placeholder="Masukkan Pesan"
          />
          <button class="btn btn-outline-warning" type="submit">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import fb from "@/firebase/init";
import { bus } from "@/main.js";
export default {
  name: "inputMessage",
  props: [],
  data() {
    return {
      inpMsg: null,
      img: sessionStorage.avatar,
      userInp: false
    };
  },
  methods: {
    createMsg() {
      if (this.inpMsg) {
        fb.collection("messages")
          .add({
            message: this.inpMsg,
            name: sessionStorage.name,
            pic: this.img,
            timestamp: Date.now()
          })
          .catch(err => {
            console.log(err);
          });
        this.inpMsg = null;
        this.userInp = true
       
      }
    }
  }
};
</script>